LAB6_JAVA_DHARA/areaofcircle.class
prac/area.java
prac/calc.class
prac/calc.java
prac/input.class
prac/input.java
prac/isvowel.class
prac/isvowel.java
prac/leap.class
prac/leap.java
prac/max.class
prac/max.java
prac/odd.class
prac/odd.java
prac/palindrome.java
prac/prime.class
prac/prime.java
prac/prime2.class
prac/prime2.java
prac/range.java
prac/sum.class
prac/sum.java
prac/tofeet.class
prac/tofeet.java
prac/
prac/*.class
JAVA/*.class